body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.result-container{
    margin: 0 auto; /* Horizontally center the container */
    max-width: 600px; /* Adjust the maximum width as needed */
    padding: 20px; /* Add padding for spacing inside the box */
    border: 2px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius for rounded corners */    
    background: white;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    margin-top: 20px;
    color: #333;
}

p {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 40px;
    background: white;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


h3 {
    color: #333;
    margin-top: 20px;
}
